name: Build Executables

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --onefile --name pyadmintool src/main.py

      - uses: actions/upload-artifact@v4
        with:
          name: pyadmintool-windows
          path: dist/pyadmintool.exe


  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build Binary
        run: |
          pyinstaller --onefile --name pyadmintool src/main.py

      - name: Install AppImageTool
        run: |
          wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage
          chmod +x appimagetool-x86_64.AppImage

      - name: Create AppDir
        run: |
          mkdir -p AppDir/usr/bin
          cp dist/pyadmintool AppDir/usr/bin/
          chmod +x AppDir/usr/bin/pyadmintool

          cat <<EOF > AppDir/pyadmintool.desktop
          [Desktop Entry]
          Type=Application
          Name=PyAdminTool
          Exec=pyadmintool
          Icon=utilities-terminal
          Categories=Utility;
          EOF

      - name: Build AppImage
        run: |
          ./appimagetool-x86_64.AppImage AppDir

      - uses: actions/upload-artifact@v4
        with:
          name: pyadmintool-linux-appimage
          path: "*.AppImage"